<%= form_tag fortunes_path, :method => :get, :id => "fortunes_search" do %>
<% end %>
<br/>
<div id="fortunes">
  <%= render :partial => 'fortune', :collection => @fortunes %>
</div>

<div class="link">
  <%= link_to 'New Fortune', new_fortune_path %>
</div>

<%= paginate @fortunes %>
